<div class="flex flex-wrap gap-3 align-items-center justify-content-center">
  <div class="relative flow-hidden bg-primary-200 w-12 h-22rem mx-2 my-3 md:my-0">
    <div class="z-0 absolute top-0 left-0 bg-black-alpha-90 font-bold flex align-items-center justify-content-center w-12 h-14rem">
      <div class="cover--img">
      <p-image [src]=" user! | userCoverImage " alt="Image" width="100%" height="100%"></p-image>
    </div>
    </div>
    <div class="z-1 relative bottom-50 left-0 surface-500 border-circle font-bold flex align-items-center justify-content-center ml-2 mt-4 w-8rem h-8rem" style="width: 100px; height: 100px; left:60px; top:65px;">
      <div class="circular--landscape">
        <p-image [src]=" user! | userProfileImage " alt="Image" width="100%" height="100%"></p-image>
      </div>
    </div>
    <div class="z-0 absolute bottom-0 left-0 bg-primary-reverse flex align-items-center justify-content-center w-12 h-12rem ">
        <!-- Información primaria -->
        <div class="grid  mt-6 pl-3">
          <div class="col-12 p-0">
            <span class="spacer"></span>
          </div>
          <div class="col-12 p-0">
            <div class="grid">
            <div  class="col-3 p-0">
              <div class="row text-white">
                {{user!.username}}
              </div>

              <div class="row text-600">
                <span>@</span>{{user!.nickname}}
              </div>
            </div>
            <div class="col-12 allign-items-center justify-end w-4 p-0">
              <div class="row text-white font-medium">
              Seguidos: {{ user!.followers.length}}
              </div>
              <div class="row text-white font-medium">
                Seguidores: {{ user!.n_followers}}
                </div>
            </div>
            </div>
          </div>
          <!-- Información sercundaria -->
          <div class="col-12 p-0">
            <p  text-white>{{user!.description}}</p>
          </div>

          <div class="col-12 p-0">
            <span class="pi pi-calendar text-white"> {{user!.creationAccountDate}}</span>
          </div>
        </div>
    </div>
  </div>
</div>

